@layer components {
  .list {
    @apply list-none m-0 p-0 w-full flex flex-col gap-1;
  }

  .list-item {
    @apply w-full flex flex-row justify-between items-center border-b border-(--secondarytext-color);
  }

  .list-item-left,
  .list-item-right {
    @apply flex items-center gap-1.5;
  }

  .list-item-sum {
    @apply font-sans font-semibold text-[18px] leading-[130%] text-(--primarytext-color);
  }

  .list-item-date {
    @apply font-sans font-normal text-[16px] leading-[150%] text-(--secondarytext-color);
  }

  .list-item-remove {
    @apply w-3 h-3 cursor-pointer ml-auto text-(--secondarytext-color) opacity-60 hover:opacity-100;
  }
}
