@layer components {
  #edit-page {
    @apply w-full h-screen flex flex-col bg-white px-4 py-6 gap-3;
    @apply md:bg-(--background-color) md:px-22 md:py-0 md:flex md:items-center md:justify-center gap-0;
    @apply lg:px-0 lg:justify-start lg:py-16;
  }
}