@import 'tailwindcss';

@import './base/fonts.css';
@import './base/variables.css';
@import './utilities.css';
@import './components/errors.css';
@import './components/buttons.css';
@import './components/lists.css';
@import './pages/start-page.css';
@import './pages/main-page.css';
@import './pages/history-page.css';
@import './pages/edit-page.css';
