@theme {
  --primary-color: #3b82f6;
  --success-color: #10b981;
  --error-color: #ef4444;
  --primarytext-color: #111827;
  --secondarytext-color: #6b7280;
  --background-color: #f9fafb;
  --border-color: #e5e7eb;
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  body {
    @apply m-0 p-0;
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .app {
    @apply w-screen min-h-screen flex justify-start flex-col;
    @apply md:px-40 md:bg-(--background-color);
    @apply lg:px-37;
  }
}
